
.robot-detail-container {
    background-color: #000000; 
    padding: 15px;
    border-radius: 20px;
  }
  

  .robot-detail-container img {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(15, 228, 118);
  }
  